image: "quay.io/podman/testing"

before_script:
  - podman --version

stages:
  - Test compile
  - Release

test-compile:
  stage: Test compile
  script:
    - podman build --runtime crun --storage-driver vfs -t teatro:latest .

upload:
  stage: Release
  only:
    - current
    - tags
  script:
    - podman build --runtime crun --storage-driver vfs --format docker --squash -t gelbpunkt/teatro-rewrite:latest .
    - podman login --storage-driver vfs docker.io --username $DOCKERHUB_USERNAME --password $DOCKERHUB_PASSWORD
    - podman push gelbpunkt/teatro-rewrite:latest docker.io/gelbpunkt/teatro-rewrite:latest
